<div class="section">
  <h5>Styles com property binding (style binding)</h5>

  <button [style.backgroundColor]="ativo ? '#343a40' : 'var(--blue)'" [style.color]="ativo ? 'var(--blue)' : '#343a40'"
    [style.border]="ativo ? 'solid 1.5px #343a40' : 'solid 1.5px '" [style.marginTop]="'40px'" (click)="onChange()">Change status</button>

</div>

<div class="section">
  <h5>Styles utilizando a diretiva [ngStyle]</h5>

  <button [ngStyle]="{
      'backgroundColor': (ativo ? '#343a40' : 'var(--blue'),
      'color': ativo ? 'var(--blue)' : '#343a40',
      'border': ativo ? 'solid 1.5px var(--blue)' : 'solid 1.5px #343a40',
      'margin-top': '40px'
    }" (click)="onChange()">Change status</button>

</div>
