<section>
  <div class="container">
    <switch-directive></switch-directive>
    <if-directive></if-directive>
    <for-directive></for-directive>
    <class-directive></class-directive>
    <style-directive></style-directive>
    <app-elvis></app-elvis>

    <app-ng-content>
      <div class="titulo">
        <h5>Título do Painel</h5>
      </div>

      <div class="corpo">
        <p>Conteúdo passado para o componente.</p>
      </div>

      <div class="corpo">
        <p>Segundo conteúdo passado para o componente.</p>
      </div>
    </app-ng-content>
  </div>
</section>
